python-dotenv
pydantic
pydantic-settings
langchain-google-genai
langchain-community
langchain-core
langgraph
google-genai
ddgs
deepeval
ragas
trulens-core
trulens-providers-openai
trulens-apps-langchain
prometheus_client
spacy
textstat
llama-index-core
requests
duckduckgo_search
